.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-grp{
    margin-top: 30px;
}

.btn-off{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    color: burlywood;
    background-color: crimson;
}
.btn-on{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    color: black;
    background-color: greenyellow;
}